<h1>New Article</h1>
<img src="http://placekitten.com/g/1500/300"/>
<%= form_for :article, url: articles_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit 'Save Article', id: "save-button" %>
  </p> 
<% end %>
<%= link_to 'Back', articles_path, class: "big button"%>
