body {
  margin: 0;
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 24px;
}
.container {
  background-color: #F5F5F5;
  padding: 24px;
  margin: 24px;
  min-height: 200px;
}
.mini-img {
  height: 200px;
  border-radius: 100px;
  float: left;
  margin-right: 24px;
}
h1,
h2 {
  text-align: center;
  background-color: #2A4550;
  color: white;
  margin: 0;
  padding: 24px;
}
#article_text,
textarea {
  height: 6rem;
}